<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Quiz App | Programminf w/Shadab</title>
    <link rel="stylesheet" href="../../startQuizNew/css/style.css">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

    <!-- start Quiz button -->
    <div class="start_btn"><button>Start</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Exercise</span></div>
        <div class="info-list">
            <div class="info">1. You can't select any option once time goes off.</div>
            <div class="info">2. You can't exit from the Quiz while you're open it.</div>
            <div class="info">3. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <form method="post">
                            <button  name="btn" value="continue">Continue</button>

            </form>
        </div>
    </div>


    <canvas id="my-canvas"></canvas>


    <script src="../../startQuizNew/js/index.min.js"></script>

    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <script src="../../startQuizNew/js/questions.js"></script>

    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script src="../../startQuizNew/js/script.js"></script>
    

</body>
</html>
